.logo {
    color: #BBE;
    font-family: Epilogue;
    font-size: 91.456px;
    font-style: normal;
    font-weight: 600;
    line-height: 102.735px; /* 112.333% */
    margin-top: 37px;
    margin-left: 88px;
}

.logo-dot {
    color: #BBE;
